# By: s-m-quadri@github
# Last Modified: 26 OCT 2021


# ======================================================================
# ======================================================================
#                    RULE - For working directories
# ======================================================================

# [STEP 01] Ignore All directories
*

# [STEP 02] Except the working ones
!/EasyIO
# ======================================================================
# ======================================================================



# ======================================================================
# ======================================================================
#            RULE - For sub files in the diffrent directories
# ======================================================================

# [STEP 01] Ignore All files
*/*

# [STEP 02] Except the essential ones
!/LICENSE
!/README.md
!/.gitignore
!*/.gitignore

# [STEP 03] Except the working ones
!**.java

# ======================================================================
# ======================================================================